# Archivos de Entorno y Claves Secretas
.env
.env.local
.env.*.local
recursos/

# Base de Datos Local SQLite
*.sqlite3
*.db

# Entornos Virtuales y Cache Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
ENV/

# Archivos Estáticos Recolectados en Local
staticfiles/
media/

# Archivos de IDE y Editores
.vscode/
.idea/
*.swp
.DS_Store
